*.tgz
*.bak
*.orig
charts/**/templates/*.bak
charts/**/templates/*.orig
charts/**/values.local.yaml
index.yaml

*.env
Dockerfile
docker-compose.override.yml
docker-compose.local.yml
docker-compose.*.yml

logs/
*.log

.DS_Store
.idea/
.vscode/
*.swp

dist/
build/
tmp/
